/* --- FUENTE --- */
* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-weight: bold;
    font-size: 16px;
}

/* Ventana transparente */
window {
    background-color: transparent;
}

/* --- CONTENEDOR PRINCIPAL --- */
#outer-box {
    margin: 0px;
    background-color: #050a14; /* Tu Azul Oscuro Profundo */
    border: 2px solid #0044aa; /* Borde Zafiro */
    border-radius: 0px;        /* Cuadrado */
    
    /* Relleno abajo para compensar el hueco de arriba */
    padding-bottom: 15px; 
}

/* --- BUSCADOR MUERTO (Solo en este archivo) --- */
#input {
    display: none;
    height: 0px;
    margin: 0px;
    padding: 0px;
    opacity: 0;
}

/* Contenedores internos */
#scroll, #inner-box {
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
}

/* --- BOTONES --- */
#entry {
    padding: 15px 20px;
    margin: 0px;
    border: none;
    color: #cdd6f4;
    background-color: transparent;
}

/* --- SELECCIÓN --- */
#entry:selected {
    background-color: #0044aa; /* Azul Zafiro */
    color: #ffffff;
    outline: none;
}
